.layout-menu {
  top: 0px !important;
  position: relative !important;
}
.layout-main {
  padding-top: 0px !important;
}
.p-inputtext {
  border: 1px solid !important;
}

.word-wrap {
  word-wrap: break-word;
}
